* {
    margin: 0;
}

body {
    background-image: url(https://images.unsplash.com/photo-1492541641671-bd75cf01a094?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);
    background-attachment: fixed;
    background-size: cover;
}

.container {
    /* background-color: blueviolet; */
}

.header {
    color: white;
    text-align: right;
}


.card img {
    height: 300px;
}

.deckofcards {
    text-align: right;
    color: black;
}
.deckofcards img {
    height: 400px;
}

#sunset {
    color: white;
    text-align: center;
    font-size: 60px;
    margin-bottom: -20px;
}

#contact {
    background-color: red;
}


.editing {
    color: white;
    text-align: center;
}

#contact p {
    color: white;
}

.testies p {
    color: white;
}

.testies button {
    color: orange;
    margin-left: -12px;
    margin-bottom: 5px;
    /* text-align: center; */
}

